/* -------font--------- */



/* -------Général------- */

:root{
    --main-beige: rgb(218, 197, 167);
    --second-black: rgb(33, 33, 33);
    --second-white: rgb(255, 255, 255);  
    --fond-header: rgb(218, 197, 167, 0.1);
}
*{
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background: var(--second-black);
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2{
    font-size: 36px;
    color: var(--main-beige);
}
h3{
    font-size: 20px;
    color: var(--main-beige);
}
p{
    font-size: 16px;
    color: var(--main-beige);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-beige);
}
a:hover{
    color: var(--second-white);
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* -------Header------- */
header{
    /* max-width: 1440px; */
    background: var(--fond-header);
    border: 1px solid var(--fond-header);
    margin: auto;
    /* padding: 40px; */
}
header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}
header nav{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
header nav ul{
    display: flex;
    gap: 50px;
}

/* -------main------- */
main{
    max-width: 1440px;
    margin: auto;
    padding: 40px;
}

main .btn{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 57px;
}
.btn a{
    background: var(--fond-header);
    border: 1px solid var(--fond-header);
    padding: 11px 13px;
    border-radius: 20px;
}

/* section 1 */
#section_1 .dev{
    display: grid;
    padding: 30px 15px;
    text-align: center;
    gap: 15px;
}

/* section 2 */
#section_2 #apropos p{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 30px 15px;
    width: 308px;
    background: var(--fond-header);
    border: 1px solid var(--fond-header);
}
#section_2 #apropos div img{
    width: 30%;
    height: auto;
    opacity: 0.5;
}
#section_2 #apropos .desc{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

#section_2 #apropos h2{
    display: flex;
    padding: 62px;
}

/* section 3 */
#section_3{
    max-width: 1440px;
    margin: auto;
}
#section_3 article img{
    width: 100%;
    height: 49%;
    position: relative;
    right: 23px;
    padding: 23px;
    bottom: 20px;
}
#section_3 .div-c div p{
    width: 358px;
}
#section_3 .div-c{
    display: flex;
    gap: 40px;
}
#section_3 #projets{
    display: flex;
    justify-content: space-between;
    padding: 90px 0 40px;
}
#section_3 #projets a{
    border: 1px solid;
    padding: 10px 10px;
}
#section_3 article{
    background: var(--fond-header);
    border: 1px solid;
    padding: 14px;
    flex: 1;
}
#section_3 .div-c article .btn-1{ 
    border: 1px solid;
    padding: 5px 8px;
    display: inline-block;
    margin: 10px 0;
}
#section_3 .div-c article div{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

/* section 4 */
#section_4{
    background: var(--white-grey);
    /* margin-top: 96px; */
}

 #section_4 div{
   /* max-width: 1440px;*/
    margin: auto;
} 

#section_4 div .us{
    display: flex;
    position: relative;
    gap: 20px;
    padding: 55px 0;
}

#section_4 div .us hr{
    width: 65px;
    border: 1px solid var(--green);
    height: 0;
    position: relative;
    top: 28px;
}

#section_4 div #contacter{
    display: flex;
    gap: 50px;
    justify-content: center;
}

#section_4 div #contacter article #ia{
    padding: 20px 0;
}

#section_4 #contacter article{
    top: 109px;
    position: relative;
    padding-right: 79px;
}

#section_4 #contacter article p{
    max-width: 500px;
}

#section_4 #ia div{
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

#section_4 #ia div i{
    color: var(--main-beige);
}

#section_4 #ia div a{
    font-weight: 400;
}

#section_4 #contact form{
    gap: 20px;
    display: grid;
}

#section_4 #contacter form #checkbox{
    display: flex;
    gap: 10px;
}

#section_4 div form .email{
    border: 1px solid #69727D;
    width: 537px;
    height: 21px;
    padding: 10px 17px 10px 17px;
    margin-bottom: 20px;
}

#section_4 div form textarea{
    border: 1px solid #69727D;
    width: 537px;
    height: 108px;
    padding: 10px 17px 10px 17px;
    border-radius: 3px 0px 0px 0px;
    margin-bottom: 30px;
}

#section_4 div #contacter form button{
    width: 88px;
    padding: 12px 0;
    border-radius: 3px;
    border: 1px solid var(--fond-header);
    background: var(--fond-header);
    color: var(--main-beige);
    margin: 20px 0;
}
#section_4 div #contacter form button:hover{
    color: var(--second-white);
}
/* -------footer------- */

footer{
    background: var(--fond-header);
    border: 1px solid var(--fond-header);
    /* max-width: 1440px; */
    margin: auto;
    padding: 40px;
}
footer .titre{
    text-align: center;
    padding-bottom: 30px;
}
footer div{
    display: flex;
    justify-content: space-between;
}
footer div article ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
footer article ul li a{
    gap: 10px;
    display: flex;
}
footer p{
    display: flex;
    justify-content: center;
}